@media only screen and (max-width: 767px) {
    [class*="mobile hidden"],
    [class*="tablet only"]:not(.mobile),
    [class*="computer only"]:not(.mobile),
    [class*="large monitor only"]:not(.mobile),
    [class*="widescreen monitor only"]:not(.mobile),
    [class*="or lower hidden"] {
        display: none !important;
    }
}
body {
  background-color: #FFF7EF;
}
body > .grid {
  height: 100%;
}
#school {
  display: inline-flex;
}
.column {
  max-width: 450px;
}
.nextdoor, .nextdoor2 {
    color: #4FAF53
}
.whiskerlabs {
    color: #54A6F6
}
.earthnetworks {
    color: #17223B
}
.amazon {
    color: #FF9900
}
.phichitheta {
  color: #270950
}
.bitcamp {
  color: #ED784D
}
.startupshell {
  color: #BF4A3C
}