    body{
      background-color: #2d2d2d;
    }
    h1{
      color: #FF7260;
      font-weight: lighter;
      font-variant: small-caps;
      font-family: "Courier New", Courier, monospace;
      font-size: 100;
    }
    p{
      color: #FFF5C3;
      font-size: 30;
      font-family: "Courier New", Courier, monospace;
    }
    ul{
      color: #9BD7D5;
      font-size: 20;
      font-family: "Courier New", Courier, monospace;
    }
